//Responsive typography
@mixin responsive-font-sizes {
    @media screen and (max-width: 1024px) {
        $h1-font-size: 1.75rem;
        $h2-font-size: 1.25rem;
        $h3-font-size: 1rem;
        $normal-font-size: 0.938rem;
        $small-font-size: 0.813rem;
        $smaller-font-size: 0.75rem;
    }
}